nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 15px;
}
.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}
.youtube-search-container {
  text-align: center;
  overflow-x: hidden;
}
.youtube-search-container input {
  outline: none;
  border: none;
  min-width: 360px;
  padding: 5px 8px;
}
.youtube-search-container button {
  outline: none;
  padding: 5px 10px;
  border: none;
  background-color: #e2e2e2;
}
.yt-result {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
  margin-left: 150px;
}
.yt-result .left {
  width: 40%;
  padding: 0 100px;
}
.yt-result .right {
  width: 60%;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: -90px;
}
.yt-result .title {
  font-size: 18px;
  font-weight: 600;
}
.yt-result .ifram-yt {
  width: 100%;
  height: 270px;
}

.search-history-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-color: #1c1c1c;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  padding: 10px 0;
}

.search-history-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
}

.search-history-item:hover {
  background-color: #333;
}

.search-history-item span {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-history-item .icon {
  margin-right: 10px;
}

.search-history-item .delete {
  color: #3ea6ff;
  cursor: pointer;
  margin-left: 10px;
}
